*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#head{
    border: 2px solid black;
    width:100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    background-color: aquamarine;
    color: darkgreen;
    background-color: aqua;
}
#head1{
    border: 2px solid black;
    width:30%;
    height: 60px;
    display: flex; 
    justify-content: space-evenly;
    align-items: center;
    border: none;
}
#head2{
    border: 2px solid black;
    width:30%;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: none;
}
.div1{
    border: 1px solid black; 
    border: none;
}
.logo{
    width:50px;
    height: 50px;
    border: 40px;
    padding: 12px 8px;
}
#addlogo{
    border: 1px solid black;
    width: 50px;
    height: 50px;
    border-radius: 150px; 
    margin-top: -13px;
    background-size: cover;
}
.name{
    width: 120px;
    height: 30px;
}
.search{
    width: 167px;
    height: 20px;
}
.aboutus{
    width: 60px;
    height: 30px;
    color: red;
}
.contactus{
    width: 70px;
    height: 30px;
}
/* =============================================================== */
#bg{
  border: 1px solid black;
  width: 100%;
  height:500px;  
  background-image: url(./travel.gif);
  background-repeat: no-repeat;
  background-size: 100% 500px;
  display: flex;
  justify-content: center;
  align-items:flex-end;
}
#webname{ 
    color:antiquewhite;
    opacity: 0.5;
    font-size: 70px;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Niconne', cursive;
}
/* ====================================================================== */
#maincard{
    border: 1px solid black;
    width: 100%;
    height: 400px; 
    display: flex;
    justify-content:space-evenly;
    align-content: center;
    align-items: center;
}
#subcard1{
    border: 1px solid black;
    width: 250px;
    height:300px; 
    background-color:lightgreen;
   
}
#img1{
    width: 250px;
    height: 250px;
    background-size:cover;
}
#topic1{
     width: 200px;
     height: 30px;
     display: flex;
     justify-content: space-between;
     align-items: center;
}
#a{
    color:white;
    background-color: lawngreen;
}
#subcard2{
    border: 1px solid black;
    width: 250px;
    height:300px; 
    background-color: lightgreen;
}
#img2{
    width: 250px;
    height: 250px;
    background-size: cover;
}
#topic2{
    width: 200px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#b{
    color:white;
    background-color: lawngreen;
}
#subcard3{
    border: 1px solid black;
    width: 250px;
    height:300px; 
    background-color: lightgreen;
}
#img3{
    width: 250px;
    height: 250px;
    background-size: cover;
}
#topic3{
    width: 200px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#c{
    color:white;
    background-color: lawngreen;
}
#subcard4{
    border: 1px solid black;
    width: 250px;
    height:300px; 
    background-color:lightgreen;
   
}
#img4{
    width: 250px;
    height: 250px;
    background-size:cover;
}
#topic4{
     width: 200px;
     height: 30px;
     display: flex;
     justify-content: space-between;
     align-items: center;
}
#d{
    color:white;
    background-color: lawngreen;
}
#subcard5{
    border: 1px solid black;
    width: 250px;
    height:300px; 
    background-color: lightgreen;
}
#img5{
    width: 250px;
    height: 250px;
    background-size: cover;
}
#topic5{
    width: 200px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#e{
    color:white;
    background-color: lawngreen;
}
#subcard6{
    border: 1px solid black;
    width: 250px;
    height:300px; 
    background-color: lightgreen;
}
#img6{
    width: 250px;
    height: 250px;
    background-size: cover;
}
#topic6{
    width: 200px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#f{
    color:white;
    background-color: lawngreen;
}
#footer{
    border: 1px solid black;
    width: 100%;
    height: 500px;
    background-color: lightgreen;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#box1{
    border: 1px solid black;
    width: 300px;
    height: 500px; 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: none;
}
#logo1{ 
    border: 1px solid black;
    width: 50px;
    height: 50px;
    border-radius: 150px;
    padding: 50px 50px;  
}
#img7{
    border: 1px solid black;
    width: 100px;
    height: 100px;
    border-radius: 150px; 
    background-size: cover;
    margin-top: -50px;
    margin-left: -50px;
}
#para{
    border: 1px solid black;
    width: 300px;
    height: 300px;
    font-size: 20px;
    color: black;
    border: none;
}
#box2{
    border: 1px solid black;
    width: 300px;
    height: 500px; 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: none;
}
#box3{
    border: 1px solid black;
    width: 100px;
    height: 500px; 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: none;
}
#info{
    border: 1px solid black;
    width: 100px;
    height: 500px; 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: none;
}
#img8{
    border: 1px solid black;
    width: 100px;
    height: 100px;
    border-radius: 150px; 
    background-size: cover;  
    margin-bottom: 300px ;
}
#i1{
    font-size: 50px;
}
#i2{
    font-size: 50px;
}
#i3{
    font-size: 50px;
}
#i4{
    font-size: 50px;
}